<!DOCTYPE html>
{% load static %}
{% comment %} {% load embed_video_tags %} {% endcomment %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omars Mission</title>
    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/apply-btn.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <!-- <div class="container bgg">
            <style>
                .bgg{
                    color: rgb(255, 102, 0);
                    background-color:rgb(31, 42, 112);
                   
                }
                
            </style> -->
            
            <div class="row">
                <div class="col-lg-2">
                    <div style="display: flex; justify-content: center; align-items: center; width: 80px; height: 80px;" class="header__logo">
              <a href="{% url 'home' %}"><img src="{% static 'img/icon/omars-lg.png' %}" alt="OMARS">
                        {% comment %} <a href="{% url 'home' %}"><img src="{% static 'img/icon/omars-lg.png' %}" alt="OMARS'"> {% endcomment %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'portfolio' %}">Our Works</a></li>
                                <li><a href="{% url 'service' %}">Services</a></li>
                                <li><a href="#" >Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                                        <li><a href="{% url 'blog' %}">Blog</a></li>
                                        {% for post in posts %}
                                        <li><a href="{% url 'blog-detail' post.id %}">Blog Details</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                               <li><a href="{% url 'contactus' %}">Contact</a></li>
                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'register' %}">Login</a></li>
                                {% endif %}
                            </ul>

                            <div class="nav_socials">
                                <div class="email_socials">
                                    <i class="fa fa-envelope"></i> <a href="mailto:greatbeki22@gmail.com">greatbeki22@gmail.com</a>
                                </div>

                                <div class="phone_socials">
                                    <i class="fa fa-phone"></i> <a href="tel:+251911000000">+251961305788</a>
                                </div>
                            </div>
                        </nav>
                        <div class="header__nav__social">
                            <div style="display:flex; flex-direction: column; background-color: #111010; border-radius: 10px; padding: 10px; margin-bottom: 27px; align-items: center; justify-content: center; border: 2px solid #f60;" class="apply_btn">
                                <a style="font-family: 'Kalnia Glaze', serif;
                                font-optical-sizing: auto;
                                font-weight: 700;
                                font-style: normal;
                                font-variation-settings:
                                  'wdth' 100; " href="#">Apply Now</a>

                                  <!--   font-family: 'Passion One', sans-serif;
                                font-weight: 700;
                                font-style: normal; font-size: 20px; -->
                            </div>
                            <a href="#"><i class="fa fa-facebook" _blank></i></a>
                            <a href="#"><i class="fa fa-twitter"_blank></i></a>
                            <a href="#"><i class="fa fa-instagram"_blank></i></a>
                            <a href="#"><i class="fa fa-youtube-play"_blank></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg110" >
             <style>
                .set-bg110{
                    background-image: url({% static 'img/herobg/ombg.jpg' %});
                    /* background: url({% static 'img/herobg/hero.jpg' %}); */
                }
            </style>
       
                    {% comment %} data-setbg="{% static 'img/hero/hero-1.jpg' %}"> {% endcomment %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span style="font-family: 'Bree Serif', serif; font-size: 30px; font-weight: 600; line-height: 26px;">Graphics Design, Photo and Video Editing</span>
                                <h2 style="font-size: 20px;">Omars Mission</h2>
                                <a href="{% url 'about' %}" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg12" >
                  <style>
                    .set-bg12{
                        background-image: url({% static 'img/herobg/ombg.jpg' %});
                        /* background: url({% static 'img/herobg/hero.jpg' %}); 
                        */
                        }
                    </style>
                {% comment %} data-setbg="{% static 'img/hero/hero-1.jpg' %}"> {% endcomment %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span style="font-family: 'Bree Serif', serif; font-size: 30px; font-weight: 600; line-height: 26px;">Acting and Directing</span>
                                <h2 style="font-size: 20px;">Omars Mission</h2>
                                <a href="{% url 'about' %}" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        <div class="hero__item set-bg9" >
              <style>
                .set-bg9{
                    background-image: url({% static 'img/herobg/ombg.jpg' %});
                        /* background: url({% static 'img/herobg/ombg.jpg' %}) */
                    }
                    </style>
        {% comment %} data-setbg="{% static 'img/hero/hero-1.jpg' %}"> {% endcomment %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span style="font-family: 'Bree Serif', serif; font-size: 30px; font-weight: 600; line-height: 26px;">Cinimatography and Videography</span>
                                <h2 style="   font-family: 'Bree Serif', serif; font-size: 20px;">Omars Mission</h2>
                                <a href="{% url 'about' %}" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span>Our services</span>
                            <h2>What We Do?</h2>
                        </div>
                        <p>Pre-Wedding/Mask photography service.</p>
                        <a href="{% url 'service' %}" class="primary-btn">View all services</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-1.png' %}" alt="">
                                </div>
                                <h4>Motion graphics</h4>
                                <p>Wedding Day Photography & Videography</p>
                                <p>Our motion graphics service brings visual elements to life with dynamic animations and effects. Perfect for engaging audiences and enhancing video content, we create stunning motion graphics that captivate and inform.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-2.png' %}" alt="">
                                </div>
                                <h4>Script Writing and Editing</h4>
                                <p>Our script writing and editing service provides professional assistance in crafting and refining your script. Whether starting from scratch or polishing an existing draft, we ensure your narrative is compelling and clear.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-3.png' %}" alt="">
                                </div>
                                <h4>Video distribution</h4>
                                <p>Birthday Services/Birth Day Photography</p>
                                <p>Our video distribution service ensures your content reaches the right audience across various platforms. We manage the distribution process to maximize your video's visibility and impact.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-4.png' %}" alt="">
                                </div>
                                <h4>Video Hosting</h4>
                                <p>Baby Shower Services/Baby shower Photography</p>
                                <p>With our video hosting service, you get a reliable platform to store and stream your videos. We offer high-quality hosting solutions that ensure smooth playback and security for your video content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Work Section Begin -->
    <section class="work">
        <div class="work__gallery">
            <div class="grid-sizer"></div>
            <div class="work__item wide__item set-bg2">
                <style> 
             .set-bg2{
                            background: url({% static 'img/work/work-1.jpg' %})
                            

                        }
                    </style>
            {% comment %} data-setbg="{% static 'img/work/work-1.jpg' %}"> {% endcomment %}
            {% for videos in video.all %}
          <video class="play-btn video-popup" control> 
            <source src="{{ videos.video.url }}"  type="video/mp4" ><i class="fa fa-play"></i></video>
                {% comment %} <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i {% endcomment %}
                        {% comment %} class="fa fa-play"></i></a> {% endcomment %}
                <div class="work__item__hover">
                    <h4>{{videos.title}}</h4>
                    {% comment %} <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul> {% endcomment %}
                </video>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="work__item small__item set-bg3">
                <style>
            .set-bg3{
                            background: url({% static 'img/work/work-2.jpg' %})
                            

                        }
                    </style>
                     {% comment %} data-setbg="{% static 'img/work/work-2.jpg' %}"> {% endcomment %}
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                        <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg4">
                <style>
            .set-bg4{
                            background: url({% static 'img/work/work-3.jpg' %})
                            

                        }
                    </style> 
                    {% comment %} data-setbg="{% static 'img/work/work-3.jpg' %}"> {% endcomment %}
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                        <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item large__item set-bg5">
                <style>
            .set-bg5{
                            background: url({% static 'img/work/work-4.jpg' %})
                            

                        }
                    </style>
                     {% comment %} data-setbg="{% static 'img/work/work-4.jpg' %}"> {% endcomment %}
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item  set-bg6">
                <style>
            .set-bg6{
                            background: url({% static 'img/work/work-5.jpg' %})
                            

                        }
                    </style> 
                    {% comment %} data-setbg="img/work/work-5.jpg"> {% endcomment %}
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                        <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg7"> 
                <style>
            .set-bg7{
                            background: url({% static 'img/work/work-6.jpg' %})
                            

                        }
                    </style>
                    {% comment %} data-setbg="{% static 'img/work/work-6.jpg' %}"> {% endcomment %}
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                        <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item wide__item set-bg8">
                <style>
                    .set-bg8{
                        background: url({% static 'img/work/work-7.jpg' %})
                    }
                </style>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Work Section End -->

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-1.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Completed Projects</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-2.png' %}" alt="">
                                <h2 class="counter_num">1068</h2>
                                <p>Happy clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-3.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Perspective clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="{% static 'img/icons/ci-4.png' %}" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Completed Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad set-bg100" >
        <style>
            .set-bg100{
                background: url({% static 'img/team-bg.jpg' %})
            }
        </style> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Nice to meet</span>
                        <h2>OUR Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item set-bg14">
                    <style>
                        .set-bg14{
                            background-image: url({% static 'img/team2/team1.jpg' %})

                        }
                    </style> 
                        <div class="team__item__text">
                            <h4>Hambasan Gudisa</h4>
                            <p>Omars Mission Digital School General Manager</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook" _blank></i></a>
                                <a href="#"><i class="fa fa-twitter"_blank></i></a>
                                <a href="#"><i class="fa fa-instagram"_blank></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--second set-bg15">
                        <style>
                        .set-bg15{
                            background-image: url({% static 'img/team2/team2.JPG' %})
                        }
                    </style> 
                        <div class="team__item__text">
                            <h4>Lensa Abdisa</h4>
                            <p>Omars Mission School Teacher</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"_blank></i></a>
                                <a href="#"><i class="fa fa-twitter"_blank></i></a>
                                <a href="#"><i class="fa fa-instagram"_blank></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--third set-bg16">
                        <style>
                        .set-bg16{
                            background-image: url({% static 'img/team2/team3.JPG' %})
                        }
                    </style> 
                     {% comment %} data-setbg="{% static 'img/team/team-3.jpg' %}"> {% endcomment %}
                        <div class="team__item__text">
                            <h4>Guluma Buzuneh</h4>
                            <p>Omars Mission School Teacher</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--four set-bg17">
                    <style>
                        .set-bg17{
                            /* background-repeat: no-repeat; */
                            background-image: url({% static 'img/team2/team4.JPG' %});
                        }
                    </style> 
                    {% comment %} data-setbg="{% static 'img/team/team-4.jpg' %}"> {% endcomment %}
                        <div class="team__item__text">
                            <h4>Abdifan Kasaye</h4>
                            <p>Omars Mission School Teacher</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="team__btn">
                        <a href="{% url 'contactus' %}" class="primary-btn">Meet Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Our Blog</span>
                        <h2>Blog Update</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Bumper Ads: How to Tell a Story in 6 Seconds</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Bumper Ads: How to Tell a Story in 6 Seconds</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                            <ul>
                                <li>Jan 03, 2020</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>We recently launched a new website for a Vital client and wanted to share some of the
                                cool features we were able...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg20">
        <style>
            .set-bg20{
                background: url({% static 'img/callto-bg.jpg' %})
            }
        </style>  
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="callto__text">
                        <h2>Fresh Ideas, Fresh Moments Giving Wings to your Stories.</h2>
                        <p>INC5000, Best places to work 2019</p>
                        <a href="#">Start your stories</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container bgg">
             <style>
          .bgg{
            background-color:rgb(31, 42, 112);
          }
          
        </style>
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div style="display: flex; justify-content: center; align-items: center; width: 80px; height: 80px;"class="footer__top__logo">
                            <a href="#"><img src="{% static 'img/icon/omars-lg.png' %}" alt="OMARS"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2006 by Ambasan and His Friends, Omars is an award-winning, full-service
                                production company specializing.</p>
                            <a href="{% url 'about' %}" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Browse Archive</a></li>
                                <li><a href="#">Video for photography</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>Omars is an award-winning, full-service production company specializing.</p>
                              <form action="{% url 'subscribe' %}" method="POST">
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Samuel and Gezagn</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static  'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>