<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hi {{ user.get_firstname }},</p>
    <p>You (or someone else) requested a password reset for your account.</p>
    <p>
        Click the link below to reset your password:
        <a href="{{ http }}://{{ localhost:8000 }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>
    <p>If you did not request this, you can safely ignore this email.</p>
    <p>Thanks,<br>The {{ site_name }} Team</p>
</body>
</html>

