<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Videograph Template" />
    <meta name="keywords" content="Videograph, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>School of Omars</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="header__logo">
              <a href="{% url 'home' %}"
                ><img src="{% static 'img/logos.png' %}" alt="OMARS"
              /></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="header__nav__option">
              <nav class="header__nav__menu mobile-menu">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li class="active">
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                  </li>
                  <li><a href="{% url 'service' %}">Services</a></li>
                  <li>
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                      <li><a href="{% url 'blog' %}">Blog</a></li>
                      {% for post in posts %}
                      <li>
                        <a href="{% url 'blog-detail' post.id %}"
                          >Blog Details</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li><a href="{% url 'contactus' %}">Contact</a></li>
                  {% if request.user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'register' %}">Login</a></li>
                                {% endif %}
                </ul>
              </nav>
              <div class="header__nav__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div
      class="breadcrumb-option spad set-bg39">
       <style>
                  .set-bg39{
                    background:url({% static 'img/breadcrumb-bg.jpg' %})

                  }
                </style>
      {% comment %} data-setbg="{% static 'img/breadcrumb-bg.jpg' %}"> {% endcomment %}
    
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Our Works</h2>
              <div class="breadcrumb__links">
                <a href="{% url 'home' %}">Home</a>
                <span>Portfolio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="portfolio__filter">
              <li class="active" data-filter="*">All</li>
              <li data-filter=".branding">Branding</li>
              <li data-filter=".video-editing">Video Editing</li>
              <li data-filter=".videography">Videography</li>
              <li data-filter=".photography">Photography</li>
              <li data-filter=" .cinematography">Cinematography</li>
              <li data-filter=" .photo-editing">Photo Editing</li>
              <li data-filter=" .acting-and-directing">Acting and Directing</li>
              <li data-filter=" .light-and-sounds">Light and Sounds</li>
              <li data-filter=" .script-writing">Script Writing</li>
            </ul>
          </div>
        </div>
        <div class="row portfolio__gallery">
          <div class="col-lg-4 col-md-6 col-sm-6 mix branding">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg38">
                 <style>
                  .set-bg38{
                    background:url({% static 'img/portfolio/portfolio-1.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-1.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix digital-marketing">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg37">
                 <style>
                  .set-bg37{
                    background:url({% static 'img/portfolio/portfolio-2.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-2.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <span>Photography</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg36">
                 <style>
                  .set-bg36{
                    background:url({% static 'img/portfolio/portfolio-3.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-3.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg35">
                 <style>
                  .set-bg35{
                    background:url({% static 'img/portfolio/portfolio-4.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-4.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg34">
                 <style>
                  .set-bg34{
                    background:url({% static 'img/portfolio/portfolio-5.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-5.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <span>Photography</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix branding">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg33">
                 <style>
                  .set-bg33{
                    background:url({% static 'img/portfolio/portfolio-6.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-6.jpg' %}"> {% endcomment %}
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix web">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg32">
                 <style>
                  .set-bg32{
                    background:url({% static 'img/portfolio/portfolio-7.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-7.jpg' %}"> {% endcomment %}
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix photography">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg31">
                <style>
                  .set-bg31{
                    background:url({% static 'img/portfolio/portfolio-8.jpg' %})

                  }
                </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-8.jpg' %}"> {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <span>Photography</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mix ecommerce">
            <div class="portfolio__item">
              <div
                class="portfolio__item__video set-bg40">
                <style>
                .set-bg40{
                  background:url({% static 'img/portfolio/portfolio-9.jpg' %})
                }
              </style>
                {% comment %} data-setbg="{% static 'img/portfolio/portfolio-9.jpg' %}" {% endcomment %}
              
                <a
                  href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                  class="play-btn video-popup"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
              <div class="portfolio__item__text">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                  <li>eCommerce</li>
                  <li>Magento</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="pagination__option">
              <a href="#" class="arrow__pagination left__arrow"
                ><span class="arrow_left"></span> Prev</a
              >
              <a href="#" class="number__pagination">1</a>
              <a href="#" class="number__pagination">2</a>
              <a href="#" class="arrow__pagination right__arrow"
                >Next <span class="arrow_right"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="footer__top__logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logos.png' %}" alt="OMARS" /></a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="footer__top__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__option">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="footer__option__item">
                <h5>About us</h5>
                <p>
                  Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an
                  award-winning, full-service production company specializing.
                </p>
                <a href="{% url 'about' %}" class="read__more"
                  >Read more <span class="arrow_right"></span
                ></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="footer__option__item">
                <h5>Who we are</h5>
                <ul>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Carrers</a></li>
                  <li><a href="{% url 'contactus' %}">Contact us</a></li>
                  <li><a href="#">Locations</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="footer__option__item">
                <h5>Our work</h5>
                <ul>
                  <li><a href="#">Feature</a></li>
                  <li><a href="#">Latest</a></li>
                  <li><a href="#">Browse Archive</a></li>
                  <li><a href="#">Video for web</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="footer__option__item">
                <h5>Newsletter</h5>
                <p>
                  Videoprah is an award-winning, full-service production company
                  specializing.
                </p>
                <form action="{% url 'subscribe' %}" method= "POST">
                  {% csrf_token %}
                  <input type="text" name="email" placeholder="Email" />
                  <button type="submit"><i class="fa fa-send"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright">
          <div class="row">
            <div class="col-lg-12 text-center">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p class="footer__copyright__text">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This Website is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank"
                  >Gezagn and Samuel</a
                >
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
