<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Videograph Template" />
    <meta name="keywords" content="Videograph, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>School of Omars</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div style="display: flex; justify-content: center; align-items: center; width: 80px; height: 80px;" class="header__logo">
              <a href="{% url 'home' %}"><img src="{% static 'img/icon/omars-lg.png' %}" alt="OMARS"
              /></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="header__nav__option">
              <nav class="header__nav__menu mobile-menu">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'portfolio' %}">Our Works</a></li>
                  <li class="active">
                    <a href="{% url 'service' %}">Services</a>
                  </li>
                  <li>
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'portfolio' %}">Our Works</a></li>
                      <li><a href="{% url 'blog' %}">Blog</a></li>
                      {% for post in posts %}
                      <li>
                        <a href="{% url 'blog-detail' post.id %}">Blog Details</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li><a href="{% url 'contactus' %}">Contact</a></li>
                  {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'register' %}">Login</a></li>
                  {% endif %}
                </ul>
              </nav>
              <div class="header__nav__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div
      class="breadcrumb-option spad set-bg41">
      <style>
        .set-bg41{
        background:url({% static  'img/breadcrumb-bg.jpg' %})
        }
      </style>
      {% comment %} data-setbg="{% static  'img/breadcrumb-bg.jpg' %}"> {% endcomment %}
    
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Our Sevices</h2>
              <div class="breadcrumb__links">
                <a href="{% url 'home' %}">Home</a>
                <span>Services</span>
          {% if messages %}
         {% for msg in messages %}
         {% if msg.tags == 'error' %}
     {% comment %} <div class="error-message" style="background-color: red;"> {% endcomment %}
            <div class="alert alert-danger" role ="alert";>
               {{ msg }}
               
            </div>
            {% else %}
            <div class="alert alert-{{msg.tags}}" role ="alert">
              {{msg}}
          </div>

         {% endif %}
      {% endfor %}
      {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-2.png' %}" alt="OMARS" />
              </div>
              <h4> Pre-Wedding/Mask photography service</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-1.png' %}" alt="" />
              </div>
              <h4>Social Media & Main Stream Media Production</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-2.png' %}" alt="" />
              </div>
              <h4>Events and Wedding Shots</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-3.png' %}" alt="" />
              </div>
              <h4>Day of Graduation/Graduation Ceremony</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4>Recording of Tv Shows and Holiday Events</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4>Photography and Video Recording Training</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4>Training</h4>
              <p>
               Training in Print Media/Magazines, Books, Newspapers, Logos, Brochures, Flyers, Business Cards, Posters, Cid Covers, ...Making
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4>Social Media Activities:YouTube, Facebook, Ticktock, Instagram,.</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4>Video Editing & Photo Editing & Video Editing</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="{% static 'img/icons/si-4.png' %}" alt="" />
              </div>
              <h4> Camera Skill/Basic Camera Operations</h4>
              <p>
                Whether you’re halfway through the editing process, or you
                haven’t even started, our post production services can put the
                finishing touches.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto sp__callto">
      <div class="container">
        <div
          class="callto__services spad set-bg42">
          <style>
            .set-bg42{
            background:url({% static 'img/calltos-bg.jpg' %})
            }
          </style>

          {% comment %} data-setbg="{% static 'img/calltos-bg.jpg' %}"> {% endcomment %}
        
          <div class="row d-flex justify-content-center">
            <div class="col-lg-10 text-center">
              <div class="callto__text">
                <h2>Cinematography/Video Recording and Photography Skills</h2>
                <p>
                  We works with FM Radios and TV Production 
                </p>
                <a href="#">Start your stories</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Logo Begin -->
    <div class="logo spad">
      <div class="container">
        <div class="logo__carousel owl-carousel">
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-1.png' %}" alt=""
          /></a>
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-2.png' %}" alt=""
          /></a>
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-3.png' %}" alt=""
          /></a>
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-4.png' %}" alt=""
          /></a>
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-5.png'%}" alt=""
          /></a>
          <a href="#" class="logo__item"
            ><img src="{% static 'img/logo/logo-6.png' %}" alt=""
          /></a>
        </div>
      </div>
    </div>
    <!-- Logo End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo" style="background-color: #fff; padding: 10px; border-radius: 10px;">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo/omarlogo.png' %}" alt="OMARS"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>

                        <div style="margin-top: 20px;" class="image-2024">
                            <a href=""><img style="height: 270px; width: 270px;border-radius: 10px;" src="../static/img/blog/blog-13.jpg" alt=""></a>
                            <a href=""><img style="height: 270px; width: 270px; margin-left: 10px; border-radius: 10px;" src="../static/img/blog/blog-12.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2006 by Ambasan and His Friends, Omars is an award-winning, full-service
                                production company specializing.</p>
                            <a href="{% url 'about' %}" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="{% url 'contactus'%}">Contact us</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Browse Archive</a></li>
                                <li><a href="#">Video for Photography</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>Videoprah is an award-winning, full-service production company specializing.</p>
                            <form action="{% url 'subscribe' %}" method="POST">
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This website is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="e_blank">Gezagn and Samuel</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
